html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#main-div-container {
    margin-left: 20px;
}

table, th, td {
    border: 1px solid;
}

#list-tables {
    width: 100%;
    text-align: center;
}

tr:hover {
    background-color: silver;
}

#action-button:hover {
    background-color: lightseagreen;
}
