@{
    ViewData["Title"] = "Home Page";
}

<h3>This is the home page, select a list to view and edit!</h3>
<div>
    <p>
        <a asp-action="ListSeries" id="action-button">Series list</a>
    </p>
    
</div>
